<!DOCTYPE html>
{% load static %}
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Archive</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="page">
			<header id="header">
				<div id="header-inner">	
					<div id="logo">
						<h1><a href="#">Weather<span>Forecast</span></a></h1>
					</div>
					<div id="top-nav">
						<ul>
						<li><a href="/forecast/">Forecast</a></li>
						<li><a href="/archive/">Archive</a></li>
						<li><a href="https://github.com/IlyshaNil/weather">Github</a></li>
						<li><a href="#">README</a></li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
			</header>
			<div class="feature">
				<div class="feature-inner">
				<h1>*Some amazing frontend*</h1>
				</div>
			</div>
		
	
			<div id="content">
				<div id="content-inner">
				
					<main id="contentbar">
						<div class="article">
							<p>
                                {% if year %}
                                    <table class="tg">
                                        <thead>
                                          <tr>
                                            <th class="tg-0pky">{{ region }}</th>
                                            <th class="tg-0pky">Average daytime temperature</th>
                                            <th class="tg-0pky">Average nighttime temperature</th>
                                            <th class="tg-0lax">Average humidity</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% if year %} 
                                          <tr>
                                            <td class="tg-0lax">year</td>
                                            <td class="tg-0lax">{{ year.0 }}</td>
                                            <td class="tg-0lax">{{ year.1 }}</td>
                                            <td class="tg-0lax">{{ year.2 }}</td>
                                          </tr>
                                        {% endif %}
                                        {% if month %} 
                                          <tr>
                                            <td class="tg-0lax">month</td>
                                            <td class="tg-0lax">{{ month.0 }}</td>
                                            <td class="tg-0lax">{{ month.1 }}</td>
                                            <td class="tg-0lax">{{ month.2 }}</td>
                                          </tr>
                                        {% endif %}
                                        {% if week %} 
                                          <tr>
                                            <td class="tg-0lax">week</td>
                                            <td class="tg-0lax">{{ week.0 }}</td>
                                            <td class="tg-0lax">{{ week.1 }}</td>
                                            <td class="tg-0lax">{{ week.2 }}</td>
                                          </tr>
                                        {% endif %}
                                        </tbody>
                                        </table>
                                    {% endif %}
                                
                            </p>
						</div>
					</main>
					
					<nav id="sidebar">
						<div class="widget">
							<h3>Parametrs</h3>
							<form action="/archive/" method="post">
                                {% csrf_token %}
                                <p class="column">Region{{ form.region }}</p>
                                <p class="column">Date {{ form.start_date }}</p>
                                <input type="submit" value="Submit" class="btn danger">
                            </form>
						</div>
					</nav>
					
					<div class="clr"></div>
				</div>
			</div>
		
			
		</div>
	</body>
</html>