<!DOCTYPE html>
{% load static %}
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Forecast</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		
	</head>
	<body>
		<div id="page">
			<header id="header">
				<div id="header-inner">	
					<div id="logo">
						<h1><a href="/">Weather<span>Forecast</span></a></h1>
					</div>
					<div id="top-nav">
						<ul>
						<li><a href="/forecast/">Forecast</a></li>
						<li><a href="/archive/">Archive</a></li>
						<li><a href="https://github.com/IlyshaNil/weather">Github</a></li>
						<li><a href="#">README</a></li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
			</header>
			<div class="feature">
				<div class="feature-inner">
				<h1>*Some amazing frontend*</h1>
				</div>
			</div>
		
	
			<div id="content">
				<div id="content-inner">
				
					<main id="contentbar">
						<div class="article">
							<p>
                                {% if weather %}
                                    <table class="tg">
                                    <thead>
                                    <tr>
                                        <th class="tg-0pky">{{ region }}</th>
                                        <th class="tg-0pky">Average daytime temperature</th>
                                        <th class="tg-0pky">Average nighttime temperature</th>
                                        <th class="tg-0lax">Average humidity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in weather %} 
                                    <tr>
                                        <td class="tg-0lax">{{ data.dt }}</td>
                                        <td class="tg-0lax">{{ data.temp.day }}</td>
                                        <td class="tg-0lax">{{ data.temp.night }}</td>
                                        <td class="tg-0lax">{{ data.humidity }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                    </table>
                                {% endif %}
                            </p>
						</div>
					</main>
					
					<nav id="sidebar">
						<div class="widget">
							<h3>Parametrs</h3>
							<form action="/forecast/" method="post" >
                                {% csrf_token %}
                                <p class="column">Region{{ form.region }}</p>
                                <p class="column">Start date {{ form.start_date }}</p>
                                <p class="column">End date {{ form.end_date }}</p>
                                <input type="submit" value="Submit" class="btn danger">
                            </form>
						</div>
					</nav>
					
					<div class="clr"></div>
				</div>
			</div>
		</div>
	</body>
</html>