<!DOCTYPE html>
<!-- Template by html.am -->
{% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Weather</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="page">
			<header id="header">
				<div id="header-inner">	
					<div id="logo">
						<h1><a href="/">Weather<span>Forecast</span></a></h1>
					</div>
					<div id="top-nav">
						<ul>
						<li><a href="forecast/">Forecast</a></li>
						<li><a href="archive/">Archive</a></li>
						<li><a href="https://github.com/IlyshaNil/weather">Github</a></li>
						<li><a href="#">Help</a></li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
			</header>
			<div class="feature">
				<div class="feature-inner">
				<h1>*Some amazing frontend*</h1>
				</div>
			</div>				
		</div>
	</body>
</html>